@using Web_053503_Rusakovich.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div href="#" class="navbar-text me-2">
        00,0 руб <i class="fas fa-shopping-cart nav-color"></i>
    </div>

    <div class="dropdown me-1 nav-color">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@Url.Action("GetImage", "Image")" width="30" alt="User" class="rounded" />
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
            <a>@User.Identity.Name</a>
            <li><a class="dropdown-item" asp-controller="Cart" asp-action="Index">Корзина</a></li>
            <li><a class="dropdown-item" asp-controller="Product" asp-action="UserProducts">Мои товары</a></li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnurl="@ViewContext.HttpContext.Request.Path"><input type="submit" value="Выход" class="dropdown-item"></form>
        </ul>
    </div>  
}
else
{
    <ul class="navbar-nav me-1">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Зарегестрироваться</a>
        </li>
    </ul>
}