@model ListViewModel<Product>

@{
    ViewData["Title"] = "Каталог";
    var categories = ViewData["Types"] as IEnumerable<ProductType>;
    int currentGroup = (int)ViewData["CurrentType"];
    var text = currentGroup != 0
        ? categories
            .FirstOrDefault(g => g.TypeId == currentGroup)?
            .Name
        : "Все";
}

<div class="row">
    <div class="col-2">
        <div class="dropdown mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Product Type
            </button>
            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product">Все</a>
                @foreach (var item in categories)
                {
                    <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product"
                   asp-route-group="@item.TypeId"
                   asp-route-pageN="1">@item.Name</a>
                }
            </div>
        </div>
    </div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <partial name="_ListPartial" model="@Model"/>
    <a asp-action="Index"
        asp-controller="Product"
        asp-route-page=@Model.currentPage>
        @Model.currentPage
    </a>
</div>
</div>