@using WEB_053503_Rusakovich.Blazor.Client.Components
@using WEB_053503_Rusakovich.Blazor.Client.Models
@page "/apidemo"
@inject HttpClient client

 <div class="container">
    <ProductsList @bind-Products="@Products"
        SelectedObjectChanged="ShowDetails">
    </ProductsList> 
    <ProductDetails @bind-Product="@SelectedProduct"></ProductDetails>
 </div>

@code {
    [Parameter]
    public IEnumerable<ListViewModel> Products{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        Products = await client.GetFromJsonAsync<IEnumerable<ListViewModel>>("api/products");
    }
    [Parameter]
    public DetailsViewModel SelectedProduct { get; set; }
    private async Task ShowDetails(int id)
    {
        SelectedProduct = await client.GetFromJsonAsync<DetailsViewModel>($"api/products/{id}");
    }
}
